# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://mswqxkqwrvynvudvsnea.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_cm75pl2KAN-n5U4pFIINZQ_TpiKgy50

# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dybhwpwxj

# Optional: Vercel Analytics
NEXT_PUBLIC_VERCEL_ENV=production
